@import url("./fonts.css");
@import url("./colors.css");
@import url("./auth.css");
@import url("./default-input.css");
@import url("./top-nav.css");
@import url("./side-nav.css");

@import url("./dashboard/home.css");
@import url("./dashboard.css");

@import url("./small/SmallAuth.css");

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
